mixin videoName(videoNameItem)
  a(href=`/videos/${videoNameItem.id}`).video-mixin
    div.video-mixin__thumb
    div.video-mixin__data
        span.video-mixin__title=videoNameItem.title
        div.video-mixin__meta
            span #{videoNameItem.owner.name} • 
            span #{videoNameItem.meta.views} 회